{%extends 'base.html'%}

{% block 'conteudo' %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1 class="display-3">Olá, Pessoal!</h1>
                <p class="lead">Este é um projeto de agenda pessoa, onde você pode guardar seus contatos
                    com foto, nome, sobrenome, categoria e descrição.
                </p>
                <hr class="my-4">
                <p>Fique avontande para utiliza-lo.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Começar</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}