{% extends 'base.html' %}
{%block 'titulo'%}Meus Contatos | Agenda {%endblock%}

{%block 'conteudo' %}
<!--<h1 class="mb-3">Post by {{view.kwargs.username}} ({{page_obj.paginator.count }})</h1>-->
  {% if 'accounts' not in request.path %}
    <br><br>
    <form method="get" action="{% url 'busca' %}">
        <div class="form-group row">
            <div class="col-12">
                <input class="form-control"
                       type="search" value="{{ request.GET.termo }}"
                       id="search-input"
                       placeholder="Digite sua pesquisa"
                       name="termo">
            </div>
        </div>
    </form>
{%endif%}
<div class="table-responsive-xl">
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th  scope="col">Nome</th>
        <th  scope="col">Sobrenome</th>
        <th  scope="col">Telefone</th>
        <th  scope="col">Categoria</th>
    </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr scope="row">

        <td>{{post.id}}</td>
        <td>
            <a href="{% url 'ver_contato' post.id %}">{{post.nome}}</a>
        </td>
        <td>{{post.sobrenome}}</td>
        <td>{{post.telefone}}</td>
        <td>{{post.categoria}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<!--PAGINATION -->
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn bnt-outline-info mb-4" href="?page=1">First</a>
            <a class="btn bnt-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn bnt-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn bnt-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn bnt-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
            <a class="btn bnt-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
        {% endif %}

    {% endif %}

{% endblock %}